<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.V4Creations.vtulife"
    android:installLocation="auto"
    android:versionCode="8010"
    android:versionName="3.5.1- Beta" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.V4Creations.vtulife.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.V4Creations.vtulife.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/vtulife" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.V4Creations.vtulife.view.activity.VTULifeLoadingScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.V4Creations.vtulife.view.activity.VTULifeMainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.V4Creations.vtulife.afilechooser.FileChooserActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.V4Creations.vtulife.view.activity.VTULifeAboutActivity"
            android:label="About"
            android:logo="@drawable/ic_action_about"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.V4Creations.vtulife.view.activity.VTULifePreferencesActivity"
            android:label="Preferences"
            android:logo="@drawable/ic_action_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.V4Creations.vtulife.view.activity.VTULifeNotificationActivity"
            android:label="Notifications"
            android:logo="@drawable/ic_action_time"
            android:parentActivityName="com.V4Creations.vtulife.view.activity.VTULifeMainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.V4Creations.vtulife.view.activity.VTULifeMainActivity" />
        </activity>

        <receiver
            android:name="com.V4Creations.vtulife.controller.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.V4Creations.vtulife" />
            </intent-filter>
        </receiver>

        <service android:name="com.V4Creations.vtulife.controller.gcm.GcmIntentService" />

        <receiver android:name="com.V4Creations.vtulife.controller.receiver.DownloadBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>